#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-light);
}

#loading * {
  color: var(--primary-color-light);
}

#loading svg {
  display: block;
  animation: rotate 1s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
