/**
 * Navigation Component Styles
 */

.navbar * {
  /* border: 1px solid red; */
}

.navbar {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1000;
  background-color: white;
}

.navbar-container * {
}

.site-logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: black;
}

.navbar-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--desktop-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar-links {
  display: flex;
  gap: 32px;
  font-size: 14px;
}

.navbar-links > *:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-user-menu {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar-user-menu > * {
}

.navbar-user-menu > *:hover {
  cursor: pointer;
  color: var(--primary-color-lighter);
}
